{{define "sign-in"}}
{{template "header" .}}
<div class="row justify-content-center">
    <div class="col-4">
        <form method="post" action="/auth/login">
            <div class="mb-3">
                <label for="email" class="form-label">UserName {{template "required"}}</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password {{template "required"}}</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
            </div>
            <div class="mb-3">
                Don't have an account? Click here to <a href="/sign-up">Sign Up</a> a account.
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>
{{template "footer" .}}
{{end}}